In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_police = pd.read_csv('./Datasets/police.csv')
df_population = pd.read_csv('./Datasets/population.csv')
df_race = pd.read_csv('./Datasets/race.csv')
population_2020 = 331449281

In [ ]:
df_police

In [ ]:
df_population.head()

In [ ]:
df_race.head()

In [ ]:
plt.figure(figsize=(16, 4))

age_plot = sns.histplot(data=df_police, x='age', binwidth=4)

age_plot.set_xticks([0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
age_plot.set_yticks([0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200])
age_plot.set_xticklabels([0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
age_plot.set_yticklabels([0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200])

age_plot.set_xlabel('Age')
age_plot.set_title('Age Range')

#plt.savefig('./age_plot.jpg')
plt.show()

In [ ]:
# sns.catplot(data=df_police.sort_values(by='state'), x='state', kind='count',height=5, aspect=3)
# plt.show()

In [ ]:
population_dict = {}
for city, num in zip(df_population['abbreviation'], df_population['population'] / 10000):
    population_dict[city] = num

In [ ]:
percentage_dict = {'city': [], 'percentage': [], 'city_name': []}
for city in population_dict:
    percentage = df_police['state'].value_counts()[city] / population_dict[city] * 100
    percentage = round(percentage)
    percentage_dict['city'].append(city)
    percentage_dict['percentage'].append(percentage)

In [ ]:
for state in df_population['state']:
    percentage_dict['city_name'].append(state)

percentage_dict['city_name']

In [ ]:
df_percentage = pd.DataFrame.from_dict(percentage_dict)

In [ ]:
plt.figure(figsize=(16, 4))

percentage_plot = sns.barplot(data=df_percentage, x='city', y='percentage')
percentage_plot.set_title('Shootings per 10,000 population')
percentage_plot.set_xlabel('City')
percentage_plot.set_ylabel('Number of Shootings')

#plt.savefig('./Shootings_per_10000.jpg')
plt.show()

In [ ]:
sns.catplot(data=df_police, x='race', kind="count", palette="ch:.25", height=5, aspect=2)

race_plot = sns.barplot(data=df_police, x='race', y=df_police['race'].value_counts().sort_values())
plt.show()

In [ ]:
race_series = round((df_police['race'].value_counts().sort_values() / 9096) * 100, 2)
race_series = race_series.reset_index()
race_series.rename(columns={'index': 'race', 'race': 'percentage'}, inplace=True)
race_series

In [ ]:
plt.figure(figsize=(12, 6))

race_plot = sns.barplot(data=race_series, x='race', y='percentage')

rand_a = np.arange(start=0, stop=46, step=2)

race_plot.set_yticks(rand_a)
race_plot.set_yticklabels(rand_a)

race_plot.set_title('Race-Shot Percentages (9000 victims)')
race_plot.set_xlabel('Race')
race_plot.set_ylabel('Percentage')

#plt.savefig('./race_percentages.jpg')
plt.show()

In [16]:
df_police.groupby(['state', 'armed_or_unarmed'], as_index=False).count()

,state,armed_or_unarmed,name,age,gender,race,date_of_incident,city,zipcode,responsible_agency,cause_of_death,criminal_charges,mental_illness,alleged_weapon,alleged_threat_level
0,AK,Allegedly Armed,41,41,41,41,41,41,41,41,41,41,41,41,41
1,AK,Allegedly armed,1,1,1,1,1,1,1,1,1,1,1,1,1
2,AK,Unarmed/Did Not Have Actual Weapon,6,6,6,6,6,6,6,6,6,6,6,6,6
3,AK,Unclear,4,4,4,4,4,4,4,4,4,4,4,4,4
4,AK,Vehicle,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,WV,Unclear,4,4,4,4,4,4,4,4,4,4,4,4,4
207,WV,Vehicle,7,7,7,7,7,7,7,7,7,7,7,7,7
208,WY,Allegedly Armed,18,18,18,18,18,18,18,18,18,18,18,18,18
209,WY,Unarmed/Did Not Have Actual Weapon,2,2,2,2,2,2,2,2,2,2,2,2,2
210,WY,Unclear,5,5,5,5,5,5,5,5,5,5,5,5,5

In [17]:
df_population

                   state abbreviation  population        lat        long
0                Alabama           AL     4903185  32.377716  -86.300568
1                 Alaska           AK      731545  58.301598 -134.420212
2                Arizona           AZ     7278717  33.448143 -112.096962
3               Arkansas           AR     3017804  34.746613  -92.288986
4             California           CA    39512223  38.576668 -121.493629
5               Colorado           CO     5758736  39.739227 -104.984856
6            Connecticut           CT     3565287  41.764046  -72.682198
7               Delaware           DE      973764  39.157307  -75.519722
8   District of Columbia           DC      705749  38.895110  -77.036370
9                Florida           FL    21477737  30.438118  -84.281296
10               Georgia           GA    10617423  33.749027  -84.388229
11                Hawaii           HI     1415872  21.307442 -157.857376
12                 Idaho           ID     1787065  43.617775 -116.199722
13              Illinois           IL    12671821  39.798363  -89.654961
14               Indiana           IN     6732219  39.768623  -86.162643
15                  Iowa           IA     3155070  41.591087  -93.603729
16                Kansas           KS     2913314  39.048191  -95.677956
17              Kentucky           KY     4467673  38.186722  -84.875374
18             Louisiana           LA     4648794  30.457069  -91.187393
19                 Maine           ME     1344212  44.307167  -69.781693
20              Maryland           MD     6045680  38.978764  -76.490936
21         Massachusetts           MA     6892503  42.358162  -71.063698
22              Michigan           MI     9986857  42.733635  -84.555328
23             Minnesota           MN     5639632  44.955097  -93.102211
24           Mississippi           MS     2976149  32.303848  -90.182106
25              Missouri           MO     6137428  38.579201  -92.172935
26               Montana           MT     1068778  46.585709 -112.018417
27              Nebraska           NE     1934408  40.808075  -96.699654
28                Nevada           NV     3080156  39.163914 -119.766121
29         New Hampshire           NH     1359711  43.206898  -71.537994
30            New Jersey           NJ     8882190  40.220596  -74.769913
31            New Mexico           NM     2096829  35.682240 -105.939728
32              New York           NY    19453561  42.652843  -73.757874
33        North Carolina           NC    10488084  35.780430  -78.639099
34          North Dakota           ND      762062  46.820850 -100.783318
35                  Ohio           OH    11689100  39.961346  -82.999069
36              Oklahoma           OK     3956971  35.492207  -97.503342
37                Oregon           OR     4217737  44.938461 -123.030403
38          Pennsylvania           PA    12801989  40.264378  -76.883598
39          Rhode Island           RI     1059361  41.830914  -71.414963
40        South Carolina           SC     5148714  34.000343  -81.033211
41          South Dakota           SD      884659  44.367031 -100.346405
42             Tennessee           TN     6829174  36.165810  -86.784241
43                 Texas           TX    28995881  30.274670  -97.740349
44                  Utah           UT     3205958  40.777477 -111.888237
45               Vermont           VT      623989  44.262436  -72.580536
46              Virginia           VA     8535519  37.538857  -77.433640
47            Washington           WA     7614893  47.035805 -122.905014
48         West Virginia           WV     1792147  38.336246  -81.612328
49             Wisconsin           WI     5822434  43.074684  -89.384445
50               Wyoming           WY      578759  41.140259 -104.820236