In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_police = pd.read_csv('./Datasets/police.csv')
df_population = pd.read_csv('./Datasets/population.csv')
df_race = pd.read_csv('./Datasets/race.csv')
# population_2020 = 331449281

In [ ]:
df_police

In [ ]:
df_population.head()

In [ ]:
df_race.head()

In [ ]:
plt.figure(figsize=(16, 4))

age_plot = sns.histplot(data=df_police, x='age', binwidth=4)

age_plot.set_xticks([0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
age_plot.set_yticks([0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200])
age_plot.set_xticklabels([0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
age_plot.set_yticklabels([0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200])

age_plot.set_xlabel('Age')
age_plot.set_title('Age Range')

#plt.savefig('./age_plot.jpg')
plt.show()

In [ ]:
# sns.catplot(data=df_police.sort_values(by='state'), x='state', kind='count',height=5, aspect=3)
# plt.show()

In [ ]:
population_dict = {}
for city, num in zip(df_population['abbreviation'], df_population['population'] / 10000):
    population_dict[city] = num

In [ ]:
percentage_dict = {'city': [], 'percentage': [], 'city_name': []}
for city in population_dict:
    percentage = df_police['state'].value_counts()[city] / population_dict[city] * 100
    percentage = round(percentage)
    percentage_dict['city'].append(city)
    percentage_dict['percentage'].append(percentage)

In [ ]:
for state in df_population['state']:
    percentage_dict['city_name'].append(state)

percentage_dict['city_name']

In [ ]:
df_percentage = pd.DataFrame.from_dict(percentage_dict)

In [ ]:
plt.figure(figsize=(16, 4))

percentage_plot = sns.barplot(data=df_percentage, x='city', y='percentage')
percentage_plot.set_title('Shootings per 10,000 population')
percentage_plot.set_xlabel('City')
percentage_plot.set_ylabel('Number of Shootings')

#plt.savefig('./Shootings_per_10000.jpg')
plt.show()

In [ ]:
sns.catplot(data=df_police, x='race', kind="count", palette="ch:.25", height=5, aspect=2)

race_plot = sns.barplot(data=df_police, x='race', y=df_police['race'].value_counts().sort_values())
plt.show()

In [ ]:
race_series = round((df_police['race'].value_counts().sort_values() / 9096) * 100, 2)
race_series = race_series.reset_index()
race_series.rename(columns={'index': 'race', 'race': 'percentage'}, inplace=True)
race_series

In [ ]:
plt.figure(figsize=(12, 6))

race_plot = sns.barplot(data=race_series, x='race', y='percentage')

rand_a = np.arange(start=0, stop=46, step=2)

race_plot.set_yticks(rand_a)
race_plot.set_yticklabels(rand_a)

race_plot.set_title('Race-Shot Percentages (9000 victims)')
race_plot.set_xlabel('Race')
race_plot.set_ylabel('Percentage')

#plt.savefig('./race_percentages.jpg')
plt.show()

In [9]:
df_police.groupby(['state', 'armed_or_unarmed'], as_index=False).count()

,state,armed_or_unarmed,name,age,gender,race,date_of_incident,city,zipcode,responsible_agency,cause_of_death,criminal_charges,mental_illness,alleged_weapon,alleged_threat_level
0,AK,Allegedly Armed,41,41,41,41,41,41,41,41,41,41,41,41,41
1,AK,Allegedly armed,1,1,1,1,1,1,1,1,1,1,1,1,1
2,AK,Unarmed/Did Not Have Actual Weapon,6,6,6,6,6,6,6,6,6,6,6,6,6
3,AK,Unclear,4,4,4,4,4,4,4,4,4,4,4,4,4
4,AK,Vehicle,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,WV,Unclear,4,4,4,4,4,4,4,4,4,4,4,4,4
207,WV,Vehicle,7,7,7,7,7,7,7,7,7,7,7,7,7
208,WY,Allegedly Armed,18,18,18,18,18,18,18,18,18,18,18,18,18
209,WY,Unarmed/Did Not Have Actual Weapon,2,2,2,2,2,2,2,2,2,2,2,2,2
210,WY,Unclear,5,5,5,5,5,5,5,5,5,5,5,5,5

In [4]:
df_police

,name,age,gender,race,date_of_incident,city,state,zipcode,responsible_agency,cause_of_death,criminal_charges,mental_illness,alleged_weapon,alleged_threat_level,armed_or_unarmed
0,Jose Oyuela-Palma,49,Male,Unknown race,9/21/2021,Henderson,NV,89002,Henderson Police Department,Gunshot,No known charges,No,undetermined,other,Unclear
1,Trent Leach,30,Male,Unknown race,9/21/2021,Las Vegas,NV,89101,Las Vegas Metropolitan Police Department,Gunshot,No known charges,No,gun,attack,Allegedly Armed
2,Phillip Lopez,42,Male,Unknown race,9/20/2021,Signal Hill,CA,90755,Signal Hill Police Department,Gunshot,No known charges,No,knife,attack,Allegedly Armed
3,Deon Ledet,30,Male,Black,9/20/2021,Houston,TX,77001,Houston Police Department,Gunshot,No known charges,No,gun,attack,Allegedly Armed
4,Jason Husted,47,Male,Unknown race,9/18/2021,West Ashley,SC,29414,Charleston County Sheriff's Office,Gunshot,No known charges,No,gun,attack,Allegedly Armed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9091,Andrew L. Closson,21,Male,White,1/1/2013,Gordon,WI,54838,Douglas County Sheriff's Office,Gunshot,No known charges,Drug or alcohol use,gun,other,Allegedly Armed
9092,Abel Gurrola,26,Male,Hispanic,1/1/2013,Bakersfield,CA,93304,Bakersfield Police Department,Gunshot,No known charges,No,gun,other,Allegedly Armed
9093,Andrew Layton,26,Male,White,1/1/2013,Mankato,MN,56001,Mankato Department of Public Safety,Taser,No known charges,No,none,other,Unarmed/Did Not Have Actual Weapon
9094,Christopher Tavares,21,Male,Hispanic,1/1/2013,Pueblo,CO,81008,Pueblo Police Department,Gunshot,No known charges,No,gun,other,Allegedly Armed
9095,Mark Chavez,49,Male,Hispanic,1/1/2013,Farmington,NM,87401,Farmington Police Department,Gunshot,No known charges,No,blunt weapon,other,Allegedly Armed

In [5]:
df_police['armed_or_unarmed'].value_counts()

Allegedly Armed                       6536
Unarmed/Did Not Have Actual Weapon    1205
Unclear                                764
Vehicle                                579
Allegedly armed                         12
Name: armed_or_unarmed, dtype: int64

In [8]:
unarmed_mask = df_police['armed_or_unarmed'] == 'Unarmed/Did Not Have Actual Weapon'



df_police[unarmed_mask]['state'].value_counts()

CA    233
TX    114
FL     91
AZ     55
GA     52
OH     40
NY     38
MD     34
OK     32
WA     31
MO     28
LA     27
CO     26
PA     24
NC     24
AL     23
MS     23
TN     22
IL     20
VA     19
NJ     17
IN     17
NM     16
MI     14
MN     13
OR     13
WI     13
UT     12
NV     12
AR     11
KS     11
SC      9
CT      8
HI      8
MA      7
VT      7
NE      6
DC      6
KY      6
WV      6
AK      6
IA      4
MT      4
SD      4
ID      4
ME      3
DE      3
NH      3
WY      2
ND      2
RI      2
Name: state, dtype: int64